@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

html {
    overflow: auto;
}

/* Header */

header {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #F8F6F0ff;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 5px;
    padding: 14px 16px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
    color: #0590AEff;
}

#menu li {
    float: right;
    margin-right: 30px;
    text-align: center;
    padding: 14px 16px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 1px solid #2A4D76ff;
    color: #2A4D76ff;
}

.active {
    border-bottom: 1px solid #2A4D76ff;
}

/* Body */
body {
    font-family: 'Merriweather Sans', sans-serif;
    color: #0590AEff;
    background-color: #F8F6F0ff;
    overflow: auto;
}

/* Home Page section */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/heroimageharbour.webp) no-repeat center center;
    background-size: cover;
    background-position: center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
cover-text h2 {
    color: #F8F6F0ff;
}


.artist-img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
}

#about-me {
    font-family: 'Merriweather Sans';
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    display: inline-block;
    width: 66%;
}

.row-table {
    display: table;
    text-align: center;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.upcoming-events {
    font-family: 'Merriweather Sans';
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #6C8989ff;
}

.col h5 {
    color: #6C8989ff;
}

.event-heading {
    color: #6C8989ff;
}

.col-12 {
    color: #6C8989ff;
}

.event-maps {
    width: 450px;
    height: 375px;
    border: 0;
}

/* Gallery section */

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    align-items: flex-end;
}

#photo img {
    width: 100%;
}

/* Contact section */

.aberaeron-container img {
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
}

.bg-color-contact {
    background-color: #F8F6F0ff;
    margin-left: 0;
    margin-right: 0;
}

.contact-heading {
    font-family: 'Merriweather Sans';
    font-weight: 300;
    margin-top: 25px;
}

.center-form {
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #F8F6F0ff;
    background-color: #5CA8B3ff;
}

/* Thank you page */
.thankyou {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thankstext {
    font-family: 'Merriweather Sans';
    font-weight: 300;
    text-align: center;
}

.cloud-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud-container img {
    width: 574.8px;
    height: 430px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    height: 150px;
    background-color: #F8F6F0ff;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #5CA8B3ff;
}

/* Media queries */

@media screen and (max-width: 768px) {
    #logo {
        float: left;
        font-size: 300%;
        margin-left: 5px;
    }
}

@media screen and (max-width: 480px) {
    #logo {
        font-size: 200%;
        text-align: center;
        margin-left: 0;
        padding: 0;
    }
}

/* Media query for menu */

@media screen and (max-width:992px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 25px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}

/* Media query for contact form */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

/* Here are the media queries for hero-image */

@media screen and (max-width: 768px) {
    #hero-image {
        height: 450px;
        width: 100%;
    }

    #hero-outer {
        height: 450px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
}

@media screen and (max-width: 480px) {
    #hero-image {
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    #hero-outer {
        height: 300px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
}

/* Media query for gallery images */

@media screen and (max-width: 768px) {
    #photo {
        column-count: 2;
    }
}

@media screen and (max-width: 480px) {
    #photo {
        column-count: 1;
    }
}

/* Media query for Upcoming Events */

@media screen and (max-width: 768px) {
    .event-maps {
        width: 300px;
        height: 250px;
        border: 0;
    }
}

@media screen and (max-width: 480px) {
    .event-maps {
        width: 280px;
        height: 180px;
        border: 5px;
        margin-bottom: 20px;

    }

    .container-fluid {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* Media query for Contact Image */

@media screen and (max-width: 768px) {
    .aberaeron-container img {
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 480px) {
    .aberaeron-container img {
        width: 100%;
        height: 200px;
    }
}


/* Media query for Thank you page */

@media screen and (max-width: 768px) {
    .cloud-container img {
        width: 479px;
        height: 358.5px;
    }
}

@media screen and (max-width: 480px) {
    .cloud-container img {
        width: 287.4px;
        height: 215.1px;
    }

    .thankstext {
        font-size: 180%;
    }
}